@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Rubik", sans-serif;
  background: radial-gradient(#ffb866, #ff8d01);
  /* background-color: #ffffff; */
/* opacity: 0.1; */
background-image:  linear-gradient(135deg, #ffb866 25%, transparent 25%), linear-gradient(225deg, #ffb866 25%, transparent 25%), linear-gradient(45deg, #ffb866 25%, transparent 25%), linear-gradient(315deg, #ffb866 25%, #ffb561 25%);
background-position:  28px 0, 28px 0, 0 0, 0 0;
background-size: 56px 56px;
background-repeat: repeat;
}